.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .9);
}

.close-x {
  position: absolute;
  color: white;
  right: 2rem;
  top: 0.5rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;
  cursor: pointer;
}

.content {
  margin-bottom: 19rem;
}
